{% extends "documents/base.html" %}

{% block content %}
<div id="pjax" data-pjax-container>
<h1 class="heading">Category List</h1>
<div class="row">
  <a data-pjax data-page-id='category-create' href="{% url 'documents:category.add' %}" class="btn btn-primary pull-right">Create Category</a>
</div>
<hr>
<div class="row">
  <table class='table'>
    <thead>
      <th>Category</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for category in object_list %}
      <tr>
        <td><a data-pjax data-page-id='category-detail' href="{{category.get_absolute_url}}">{{category}}</a></td>
        <td><a data-pjax data-page-id='category-update' href="{% url 'documents:category.update' category.pk %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
            <a data-pjax data-page-id='category-delete' href="{% url 'documents:category.delete' category.pk %}"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
